<!-- Hero Container -->
<div class="container mx-auto flex flex-col items-center items-justify md:flex-row">
    <div class="relative flex flex-col justify-end mt-16 mb-16 w-3/4 md:mt-32 md:mb-32">
        <p class="text-customRed text-4xl md:text-8xl">
        {% t site.description %}
        </p>
        <div class="flex flex-row">
           <div class="w-3/4"></div>
        <div class="flex-1 mt-6">
        <p class="text-customRed text-xl italic md:text-4xl">
            {% t site.slogan %}
        </p>
        </div>
        </div>
    </div>
</div>