<div class="flex items-center">
    {% for social in site.data.social %}
    <div class="flex items-center">
        <a title="{{ social.name }}" class="flex items-center text-black px-4 py-2 rounded-full hover:bg-yellow-300" href="{{ social.url }}" rel="noopener noreferrer" target="_blank">
            {% if social.icon %}
            {% svg "/assets/images/icons/{{ social.icon }}" %}
            <span class="sr-only">
                {{ social.name }}
            </span>
            {% else %}
            <span class="block">
                {{ social.name }}
            </span>
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>